<div id="Header_wrapper">
    <header id="Header">
        <div class="header_placeholder"></div>z
        <div id="Top_bar" class="loading">
            <div class="container">
                <div class="column one">
                    <div class="top_bar_left clearfix">
                        <div class="logo">
                            <a id="logo" href="/" title="BeTechnics - BeTheme"><img class="logo-main scale-with-grid" src="{{ site.baseurl }}/images/technics.png" alt="technics" /><img class="logo-sticky scale-with-grid" src="{{ site.baseurl }}/images/technics.png" alt="technics" /><img class="logo-mobile scale-with-grid" src="{{ site.baseurl }}/images/technics.png" alt="technics" />
                            </a>
                        </div>
                        <div class="menu_wrapper">
                            <nav id="menu" class="menu-main-menu-container">
                                <ul id="menu-main-menu" class="menu">
                                    <li id="menu-item-6" class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="/"><span>Home</span></a>
                                    </li>
                                    <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="{{ site.baseurl }}/technology"><span>Technology</span></a>
                                    </li>
                                    <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="{{ site.baseurl }}/company"><span>Company</span></a>
                                    </li>
                                    <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="{{ site.baseurl }}/products"><span>Products</span></a>
                                    </li>
                                    <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="{{ site.baseurl }}/contact"><span>Contact</span></a>
                                    </li>
                                    <li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom">
                                        <a target="_blank" href="http://themeforest.net/item/betheme-html-responsive-multipurpose-template/13925633?ref=beantownthemes"><span><span style="padding: 0; color: #1A2770;">Buy now</span></span></a>
                                    </li>
                                </ul>
                            </nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu"></i></a>
                        </div>
                        <div class="secondary_menu_wrapper"></div>
                        <div class="banner_wrapper"></div>
                        <div class="search_wrapper">
                            <form method="get" id="searchform" action="#">
                                <i class="icon_search icon-search"></i><a href="#" class="icon_close"><i class="icon-cancel"></i></a>
                                <input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
                                <input type="submit" class="submit" value="" style="display:none;" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="Subheader" style="padding:260px 0 210px;">
        <div class="container">
            <div class="column one">
                <h1 class="title">{{ page.title }}</h1>
            </div>
        </div>
    </div>
</div>